CLUSTER_HOST=hadoop-01.uni.innopolis.ru
CLUSTER_IP=10.100.30.57
TEAM_NAME=team20
TEAM_EMAIL=team20@innopolis.university
PGHOST=hadoop-04.uni.innopolis.ru
PGPORT=5432
PGDATABASE=team20_projectdb
PGUSER=team20
# Do not commit real passwords.
PGPASSWORD=
